/*body{
	font-size: 10px;
}*/

p{
	font-family: 'Dokdo', cursive;
}

h1{
	font-family: Georgia;
	font-size: 5.0em;
	line-height: 1.5;
	text-align: right;	
}

span{
	font-size: 2.0em;
}